*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corBlueLigth:#85F2F2;
    --corSize: #F2F6FF;
    --corBlue: #C2D2F2;
    --corGreen: #26a653;
    --corPurple: #52459ea8;
    --corSizeLigth: #DEE1E6;


    /* Cores que vou usar no script */
    --corErro: #cf5959b7;
    --corGrafico:#8870fe6a;
    --corGrafico: #79a6ff;
    --corGrafico: #79a6ff90;
    --corGrafico: #3a3a3b7c;
}
body{
    background-color: var(--corSize);
    width: 5%;
    height: 100vh;
}