*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corBlueLigth:#85F2F2;
    /* --corSize: #F2F6FF; */
    --corBlue: #C2D2F2;
    --corGreen: #26a653;
    --corPurple: #52459ea8;
    --corSizeLigth: #DEE1E6;


    /* Cores que vou usar no script */
    --corErro: #cf5959b7;
    --corGrafico:#8870fe6a;
    --corGrafico: #79a6ff;
    --corGrafico: #79a6ff90;
    --corGrafico: #3a3a3b7c;
    --corTooltip:#3a3a3b;

    /* NOVA PALETA DE CORES */
    --fundo-principal: #ffffff;
    --fundo-card: #f9f9f9;
    --bordas-shadow: #e0e0e0;

    /* ========== PARA TEXTOS ========= */
    --texto-principal: #333333;
    --texto-secundário: #666666;

    /* ========== PARA BOTÕES e LINKS ===========*/
    --destaques-botoes-links: #2196F3;

    /* ====== PARA GRAFICOS ================ */
    --cor-de-grafico1: #5c6bc0;
    --cor-de-grafico2: #ff7043;
    --cor-de-grafico3: #8bc34a;
    --cor-de-grafico4: #ffeb3b;
}
body{
    background-color: var(--fundo-principal);
    height: 1200px;

    /* Icone de expandir */
    & #expandir{
        margin-right: 30px;
        opacity: 0.7;
        font-size: 15px;
        animation: expandir 1s infinite;
    }

    /* Menu */
    & .box{
        display: none;
    }

    & .fixed-top { 
        left: 7%;
        /* background-color: var(--corBlue) !important; */
        & #modo-noturno{
            opacity: 0.1;
            cursor: pointer;
        } 
        
    }
    
}
    /* Começo do conteudo (main) */
    .cabeca{
        position: fixed;
        width: 7%;
        height: 100vh;

        & .nav-left {
            background-color: #ffffff;    
            width: 7%;
            height: 100%;
            margin: 0px 0px;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 5px 20px  #8873ff1d;

            /* A parte de cima do menu lateral */
            & .caixa-top{
                border-bottom: 1px solid var(--corPurple);
                padding-bottom: 20px;

                & .logo-img{
                    margin-top: 30px;
                    width: 50px;
                    border: 2px solid var(--corPurple);
                    border-radius: 50%; 
                }
            }
            & .menu{
                width: 100%;
            }
            
            & .menu label{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: relative;
                left: 0;
                
                &:hover{
                    background-color: var(--fundo-card);
                    border-right: 1px solid var(--corPurple);
                    cursor: pointer;
                }
                & p{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                & i{    
                    font-size: 1rem;
                }
            }
            
            & .login{
                position: fixed;
                bottom: 20px;
                width: 100%;
                &  a{
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: var(--corPurple);
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
            
        }

        & .nav-rigth {
            border-radius: 8px;
            position: fixed;
            width: 21%;
            height: 90%;
            left: 78%;
            top: 10%;
            

            & .infor-metas{
                background-color: var(--corBlue);
                border-radius: 8px;
                width: 100%;
                height: 50%;
            }
            & .infor-metas-list{
                background-color: var(--corBlue);
                margin-top: 10%;
                width: 100%;
                height: 50%;
                border-radius: 5px;
            }
        }
    }

    /*  Parte do meio do site */
    .container-text {
        position: absolute;
        width: 70.5%;
        height: 100%;
        z-index: 11;
        top: 10%;
        left: 7%;

        & .feed{
            width: 100.5%;
            height: 100px;
        }
        
        & .teste{
            display: flex;
            justify-content: space-around;
            background-color: #FFFFFF;
            align-items: center;
            gap: 25%;
            width: 100%;
            height: 100px;
            margin: 0 5px;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #e6eaec;

            & label p, h2 {
                opacity: 0.7;
            }

            & i{
                font-size: 30px;
                color: var(--corPurple);
                opacity: 0.5;
            }
        }

        & .container-graphic{
            width: 100%;
            height: 40%;
            margin-top: 1rem;
            margin-left: 0.5%;
            display: flex;
            
            & .graphic {
                background-color: #FFFFFF;
                width: 71%;
                height: 100%;
                padding-top: 10px;
                border-radius: 10px;
                box-shadow: 1px 1px 10px #e6eaec;
                &:hover{
                    box-shadow: 1px 1px 10px #e6eaec;
                    cursor: pointer;
                }
            }

            & .graphic-second {
                width: 35%;
                margin-left: 10px;
                margin-right: 5px;
                position: relative;
            }        
        }

        & .mensal {
            border-radius: 10px;
            height: 50%;
            box-shadow: 1px 1px 10px #e6eaec;
            background-color: #FFFFFF;
            margin: 1rem 0;
            margin-left: 0.5%;
            margin-right: -0.1%;
            margin-bottom: 3rem;
        }
    }

    .container-anual{
        background-color: var(--corErro);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        color: #000000;
        padding: 0 10px;
    }

/* Animação do icone de expandir */
@keyframes expandir {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(180deg);
    }
}

/* Responsividade para dispositivos moveis*/ 
@media (max-width :1682px){
    .container-graphic{
        height: 40%;
    }
    .infor-metas{
        height: 40%;
    }
}

@media (max-width: 428px){
    body{
        height: 1000px;
        & .fixed-top {
            left: 0%;
        } 
    }
    
    .cabeca{
        display: none;
    }

    .feed {
        flex-direction: column;
    }
    #pie{
        margin-left: 0;
    }
    .container-text {
        width: 94%;
        left: 2%;

        & .container-graphic {
            /* margin-top: 200px; */
            flex-direction: column;
            height: 715px;

            & .graphic {
                width: 100%;
                height: 250px;
            }

            & .graphic-first{
                /* margin-bottom: 20px; */
                height: 295px;
            }

            & .graphic-second {
                height: 400px;
                left: -2%;
            }
        }

        & .mensal{
            /* margin-top: 35px; */
            height: 400px;
        }

        & .teste {
            justify-content: space-between;
            padding: 0px 15px;
            margin: 8px 5px;
        }
    }
}


@media(max-width: 884px){

    #pie{
        margin-left: 20% !important;
    }
    body{
        & .fixed-top {
            left: 0%;
        } 
    }
    
    .cabeca{
        display: none;
    }

    .feed {
        flex-direction: column;
    }
    .container-text {
        width: 94%;
        left: 2%;

        & .container-graphic {
            margin-top: 200px;
            gap: 25px;
            flex-direction: column;
            height: 685px;

            & .graphic {
                width: 100%;
                height: 250px;
            }

            & .graphic-first{
                margin-bottom: 20px;
                height: 295px;
            }

            & .graphic-second {
                height: 400px;
                left: -2%;
            }
        }

        & .mensal{
            height: 400px;
        }

        & .teste {
            justify-content: space-between;
            padding: 0px 15px;
            margin: 8px 5px;
        }
    }
} 

