*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corBlueLigth:#85F2F2;
    --corSize: #F2F6FF;
    --corBlue: #C2D2F2;
    --corGreen: #26a653;
    --corPurple: #52459ea8;
    --corSizeLigth: #DEE1E6;


    /* Cores que vou usar no script */
    --corErro: #cf5959b7;
    --corGrafico:#8870fe6a;
    --corGrafico: #79a6ff;
    --corGrafico: #79a6ff90;
    --corGrafico: #3a3a3b7c;
}
body{
    background-color: var(--corSize);
    height: 100vh;

    /* Icone de expandir */
    & #expandir{
        margin-right: 30px;
        opacity: 0.7;
        font-size: 15px;
        animation: expandir 1s infinite;
    }

    /* Menu */
    & .box{
        display: none;
    }

    & .fixed-top { 
        left: 7%;

        & #modo-noturno{
            opacity: 0.1;
            cursor: pointer;
        } 
        
        & .bg-body-tertiary{background-color: var(--corSize);}
    }

}
    /* Começo do conteudo (main) */
    .cabeca{
        position: absolute;
        background-color: var(--corSize);
        width: 7%;
        height: 100vh;

        & .nav-left {
            background-color: rgba(248, 249, 250,1);
            width: 7%;
            height: 100%;
            margin: 0px 0px;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 5px 20px  #8873ff1d;

            /* A parte de cima do menu lateral */
            & .caixa-top{
                border-bottom: 1px solid var(--corPurple);
                padding-bottom: 20px;

                & .logo-img{
                    margin-top: 30px;
                    width: 50px;
                    border: 2px solid var(--corPurple);
                    border-radius: 50%;
                }
            }

            & .menu label{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                height: 50px;
                width: 100%;
                /* background-color: #26a653; */
                /* padding: 15px 100%; */
                /* left: 100%; */
                
                &:hover{
                    background-color: var(--corPurple);
                    border-right: 2px solid var(--corPurple);

                }
                & p{
                    position: relative;
                    top: 50%;
                    transform: translateY(-65%);
                }
                & i{    
                    font-size: 1rem;
                }
            }
            
            & .login{
                position: absolute;
                bottom: 50px;
                width: 100%;
                
                &  a{
                    padding: 15px 18px;
                    border-radius: 50%;
                    background-color: var(--corSize);
                    color: var(--corPurple);
                    border: 2px solid var(--corPurple);
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
                    &:hover{
                        color: var(--corSize);
                        background-color: var(--corPurple);
                        transition: 0.5s;
                        border: 2px solid #fff;
                        opacity: 0.5;
                    }
                }
            }
            
        }

        & .nav-rigth {
            background-color: #fff;
            border-radius: 8px;
            position: fixed;
            width: 21%;
            height: 90%;
            left: 78%;
            top: 12%;
            box-shadow: 1px 1px 10px #ffffff87;

            & .infor-metas{
                background-color: var(--corBlue);
                border-radius: 8px;
                width: 100%;
                height: 50%;
            }
            & .infor-metas-list{
                background-color: var(--corBlue);
                margin-top: 10%;
                width: 100%;
                height: 50%;
                border-radius: 5px;
            }
        }
    }

    /*  Parte do meio do site */
    .container-text {
        position: absolute;
        width: 68%;
        height: 100%;
        z-index: 11;
        top: 12%;
        left: 8%;

        & .feed{
            width: 100%;
            height: 100px;
        }

        & .teste{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 25%;
            width: 100%;
            height: 100px;
            background-color: transparent;
            margin: 0 5px;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #d3d7de;

            & label p, h2 {
                opacity: 0.7;
            }

            & i{
                font-size: 30px;
                color: var(--corPurple);
                opacity: 0.5;
            }
        }

        & .container-graphic{
            width: 100%;
            height: 40%;
            margin-top: 2%;
            margin-left: 0.5%;
            display: flex;

            & .graphic {
                width: 70%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 1px 1px 10px #d3d7de;
                &:hover{
                    box-shadow: 1px 1px 10px #d3d7de;
                    cursor: pointer;
                }
            }

            & .graphic-second {
                width: 35%;
                margin-left: 10px;
                margin-right: 5px;
                position: relative;
            }        
        }

        & .mensal {
            border-radius: 10px;
            height: 45%;

            & #teste-grafico {
                height: 100%;
                width: 100%;
                border-radius: 10px;
                box-shadow: 1px 1px 10px #d3d7de;
            }
        }
    }

/* Animação do icone de expandir */
@keyframes expandir {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(180deg);
    }
}

/* Responsividade para dispositivos moveis*/ 
@media (max-width :1682px){
    .container-graphic{
        height: 40%;
    }
    .infor-metas{
        height: 40%;
    }
}

@media (max-width: 428px){
    body{
        & .fixed-top {
            left: 0%;
        } 
    }
    
    .cabeca{
        display: none;
    }

    .feed {
        flex-direction: column;
    }
    #pie{
        margin-left: 0;
    }
    .container-text {
        width: 94%;
        left: 2%;

        & .container-graphic {
            margin-top: 200px;
            flex-direction: column;
            height: 715px;

            & .graphic {
                width: 100%;
                height: 250px;
            }

            & .graphic-first{
                margin-bottom: 20px;
                height: 295px;
            }

            & .graphic-second {
                height: 400px;
                left: -2%;
            }
        }

        & .mensal{
            margin-top: 35px;
            height: 400px;
        }

        & .teste {
            justify-content: space-between;
            padding: 0px 15px;
            margin: 8px 5px;
        }
    }
}

@media(max-width: 884px){

    #pie{
        margin-left: 20% !important;
    }
    body{
        & .fixed-top {
            left: 0%;
        } 
    }
    
    .cabeca{
        display: none;
    }

    .feed {
        flex-direction: column;
    }
    .container-text {
        width: 94%;
        left: 2%;

        & .container-graphic {
            margin-top: 200px;
            flex-direction: column;
            height: 715px;

            & .graphic {
                width: 100%;
                height: 250px;
            }

            & .graphic-first{
                margin-bottom: 20px;
                height: 295px;
            }

            & .graphic-second {
                height: 400px;
                left: -2%;
            }
        }

        & .mensal{
            margin-top: 35px;
            height: 400px;
        }

        & .teste {
            justify-content: space-between;
            padding: 0px 15px;
            margin: 8px 5px;
        }
    }
} 
