*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --corBlueLigth:#85F2F2;
    --corSize: #F2F6FF;
    --corBlue: #C2D2F2;
    --corGreen: #26A653;
    --corPurple: #52459E;

    --corSizeLigth: #DEE1E6;
}

body{
    background-color: var(--corSize);
    width: 5%;
    height: 100vh;
}
.fixed-top { left: 7%;}
.bg-body-tertiary{background-color: var(--corSize);}
.cabeca{
    position: absolute;
    background-color: var(--corSize);
    width: 7%;
    height: 100vh;
    /* border-right: 1px solid var(--corSizeLigth); */
}

.nav-left{
    background-color: var(--corBlue);
    width: 70%;
    height: 95%;
    margin: 30px 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.menu{

}
.login{
    position: fixed;
    bottom: 50px;
    width: 100%;
}
