@import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --corBlueLigth:#85F2F2;
    --corSize: #F2F6FF;
    --corBlue: #C2D2F2;
    --corGreen: #26A653;
    --corPurple: #52459E;

    --corSizeLigth: #DEE1E6;
}

body{
    background-color: var(--corSize);
    width: 5%;
    height: 100vh;
}
#expandir{
    margin-right: 30px;
    opacity: 0.7;
    font-size: 15px;
    animation: expandir 1s infinite;
}
@keyframes expandir {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(180deg);

    }
}
.fixed-top { left: 7%;}

.bg-body-tertiary{background-color: var(--corSize);}
.cabeca{
    position: absolute;
    background-color: var(--corSize);
    width: 7%;
    height: 100vh;
    /* border-right: 1px solid var(--corSizeLigth); */
}

.nav-left {
    background-color: var(--corBlue);
    width: 5%;
    height: 95%;
    margin: 30px 20px;
    border-radius: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: 1px 1px 10px #8873ff7f;
}
.nav-rigth {
    background-color: #fff;
    border-radius: 8px;
    position: fixed;
    width: 21%;
    height: 90%;
    left: 78%;
    top: 8%;
    box-shadow: 1px 1px 10px #ffffff87;
}
.infor-metas{
    background-color: #26A653;
    border-radius: 8px;
    width: 100%;
    height: 50%;
}
.caixa-top{
    border-bottom: 1px solid var(--corPurple);
    text-align: center;
    padding-bottom: 20px;
}
.logo-img{
    margin-top: 30px;
    width: 50px;
    border: 2px solid var(--corPurple);
    border-radius: 50%;
}
.menu label{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
}

.menu label i{
    font-size: 20px;
    color:var(--corPurple);
    padding: 50%;
    background-color: var(--corSize);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    &:hover{
        color: var(--corSize);
        background-color: var(--corPurple);
        transition: 0.5s;
    }
}
.login{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.login a{
    padding: 15px 18px;
    border-radius: 50%;
    background-color: var(--corSize);
    color: var(--corPurple);
    border: 2px solid var(--corPurple);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    &:hover{
        color: var(--corSize);
        background-color: var(--corPurple);
        transition: 0.5s;
        border: 2px solid #fff;
        opacity: 0.5;
    }
}

.container-text {
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 11;
    top: 8%;
    left: 7%;
}
.feed{
    width: 100%;
    height: 100px;
}
.teste{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ffffff87;
}
.teste i{
  font-size: 30px;
  color: var(--corPurple);
  opacity: 0.5;
}

.container-graphic{
    width: 100%;
    height: 40%;
    margin-top: 2%;
    display: flex;
}

.graphic {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    /* background-color: #fff; */
    box-shadow: 1px 1px 10px #d3d7de;
    
    &:hover{
        box-shadow: 1px 1px 10px #d3d7de;
        cursor: pointer;
    }
}

.graphic-second {
    width: 34%;
    margin-left: 10px;
    margin-right: 5px;
}
